/* body {
    background-color: #2e2b2b; dark charcoal
    color: #000000; light text for contrast
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: -2;

  } */

  /* -------------------------------------- Font ---------------------------------------- */

.subheading {
  font-size: medium;
  text-align: center;
  
}
.center {
  text-align: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #000000, #271a3e, #000000, #1e022f, #000000);
  background-size: 400% 400%;
  animation: gradientShift 20s ease infinite;
  z-index: -3;
}

header {
  background-color: #000000;
  color: white;
  padding: 6px 0 0.5px 0;
  /* Top = 7px, bottom = 5px. Adjust these numbers as needed. */
  border-radius: 10px;
  box-shadow: 0 0 20px #b700ff;
  margin: 40px auto;
  text-align: center;
  width: 70%;
  margin-bottom: 10px;
}

header h1 {
  margin: 0;
  padding: 0.2px 0;
}

/* -------------------------THE GREAT CONTAINER----------------------- */
.main-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.95);
  margin: 3vh auto 0 auto;
  width: 70%;
  padding: 6px 0 6px 0;
  max-width: 900px;
  height: 75vh;
  /* padding: 40px; */
  border-radius: 10px;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 20px #b700ff;
  overflow: hidden;
  /* margin-top: 0; */
  /* max-height: 100%; */
}

.sidebar {
  flex: 1;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 30px;
}

.content-area {
  flex: 2;
  background-color: #121212;
  padding: 20px;
  border-radius: 8px;
  color: #f0f0f0;

  max-height: 75vh;

  overflow-y: auto;
  overflow-x: hidden;
  /* max-height: 75vh; */
  /* max-height: 100%; */
}

/* .menu-item {
    background-color: #1a1a1a;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px #8000ff;
    transition: 0.3s ease;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
  } */

/* The @keyframes animation called gradientShift changes the background 
  position over time: */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

/* -------------------------------TEXTS----------------------------- */

h1 {
  background-color: rba(18, 18, 18, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-family: 'Papyrus', fantasy;
  color: #ffffff;
  z-index: 1;
  position: relative;
  text-shadow: #b700ff;
}

h2 {
  text-align: center;
  font-family: 'Papyrus', fantasy;

}

h3 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

/* --------------------------------------------making the tabs--------------------------------------------- */

.menu {

  flex: 1;
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  direction: rtl;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  height: 100%;
  max-width: 250px;
  box-sizing: border-box;


  /* padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-width: 250px;
  box-sizing: border-box; */


  margin: 30px;
  padding: 12px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  margin-top: 10px;
  /* max-width: 1000px;
  padding: 20px; */

}

.menu-item {

  direction: rtl;

  background-color: #000000;
  color: #ffffff;
  text-align: left;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px #b700ff;
  font-family: 'Papyrus', fantasy;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0, 2s ease;

  width: 235px;
  /*250px; */
  max-height: 75vh;
  box-sizing: border-box;

}

.menu-item a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.menu-item:hover {
  transform: translateX(5px);
  box-shadow: 0 0 25px #b700ff;
  background-color: black;
}

.menu-item.active {
  background-color: black;
  color: #b700ff;
  box-shadow: 0 0 25px #b700ff
}

.section {
  display: none;
}

/* --------------------------Left-Hand Scroll------------------------------- */




/* --------------------------PICTURES------------------------------- */


.profile-pic {
  width: 150%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 15px auto;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);

}

/* ----------mobile----------- */

@media (max-width: 768px) {

  header {
    margin-bottom: 10px;
  }
  .main-container {
    flex-direction: column;
    width: 95%;
    height: auto;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto !important;
    width: 100% !important;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .menu-iten:first-child {
    margin-top: 15px;
  }

  .menu-item {
    width: 90%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 0.5px;
    /* margin: 20px; */
    box-sizing: border-box;
  }

  .sidebar {
    margin: 0 auto;
    padding-right: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .content-area {
    margin-top: 20px;
    width: 100%;
    max-height: none;
    box-sizing: border-box;
  }
}